body{
    font-family: Arial, Tahoma, serif;
    font-size: 12px;
}
#main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.head{
    height: 100px;
    width: 100%;
    background-color: #ccc;
}
.head-link{
    height: 30px;
    margin-top: 5px;
    background-color: #ccc;
    clear: both;
    margin-bottom: 5px;
}
.left{
    width:10%;
    min-height: 550px;
    float: left;
    background-color: yellow;
    margin-bottom: 5px;
}
.cottent{
    width:69%;
    min-height: 550px;
    float: left;
    background-color: #004C00;
    margin-left: 7px;
    margin-bottom: 5px;
  
}
.right{
    width:20%;
    min-height: 550px;
    background-color: bisque;
    float: right;
    margin-bottom: 5px;
}
.footer{
    height: 40px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: #F8F8FF
}